"*":
  build:
    buildOnSave: false
  core:
    audioBeep: false
    disabledPackages: [
      "language-gfm"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 80
    showIndentGuide: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "3aa17ac0-4ea1-f0f3-100b-2904bc222de4"
  welcome:
    showOnStartup: false
